@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2809 0 0);
  --card: oklch(0.9791 0 0);
  --card-foreground: oklch(0.2809 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2809 0 0);
  --primary: oklch(0.6462 0.1453 132.7950);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4854 0.0994 133.8625);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9551 0 0);
  --muted-foreground: oklch(0.5243 0 0);
  --accent: oklch(0.9249 0 0);
  --accent-foreground: oklch(0.2809 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9067 0 0);
  --input: oklch(0.9401 0 0);
  --ring: oklch(0.6462 0.1453 132.7950);
  --chart-1: oklch(0.6462 0.1453 132.7950);
  --chart-2: oklch(0.4854 0.0994 133.8625);
  --chart-3: oklch(0.7849 0.1837 126.6356);
  --chart-4: oklch(0.8818 0.2631 136.1708);
  --chart-5: oklch(0.6840 0.1440 154.9990);
  --sidebar: oklch(0.9791 0 0);
  --sidebar-foreground: oklch(0.2809 0 0);
  --sidebar-primary: oklch(0.6462 0.1453 132.7950);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9249 0 0);
  --sidebar-accent-foreground: oklch(0.2809 0 0);
  --sidebar-border: oklch(0.9067 0 0);
  --sidebar-ring: oklch(0.6462 0.1453 132.7950);
  --font-sans: var(--font-outfit),sans-serif;
  --font-mono: var(--font-outfit),monospace;
  --font-serif: var(--font-outfit),serif;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-xs: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.03);
  --shadow-sm: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.05), 0 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0 0.25rem 0.5rem 0 hsl(0 0% 0% / 0.13);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-outfit),sans-serif;
  --font-mono: var(--font-outfit),monospace;
  --font-serif: var(--font-outfit),serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);

  --background-image-section: url('/section-bg.png');
}

body {
  letter-spacing: var(--tracking-normal);
}